.cart-item-image {
    min-width: 40px;
    min-height: 40px;
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    border-radius: 0.375rem;
    aspect-ratio: 3 / 4;
}

.cart-item-body {
    flex: 1;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.cart-item-quantity span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cart-item-quantity span:hover {
    background-color: #dee2e6;
}
.cart-item-quantity span:nth-child(2){
    border: none;
    cursor: default;
}
.cart-item-quantity span:nth-child(2):hover {
    background-color: transparent;
}